 #main{
    color: #0000ff; /* Синий цвет текста */
    text-transform: uppercase; /* Преобразование текста в верхний регистр */
    text-decoration: underline; /* Подчеркивание текста */
}

p {
    color: hsl(120, 74%, 16%); /* На ваш выбор */
}

/* Задание цвета для параграфа с классом */
.special-paragraph {
    color: hsl(189, 69%, 38%); /* Цвет на ваш выбор */
}